@tailwind components;


@layer components {
    .button {
        @apply px-4 py-2 border rounded-full cursor-pointer 
        hover:shadow-lg active:scale-95 active:bg-gray-100 transition 
        transform duration-100 ease-out
    }
}

.mapboxgl-popup-content{
    padding:0px;
    background: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 1rem;
}

.mapboxgl-popup-close-button {
    padding-right:2px;
}

